header{
    border-bottom: 1px solid white;
    padding: 15px 15px;
}

.container-nav-grid{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    align-items: center;
}

.container-nav-grid .logo{
    color: white;
    font-size: 20px;
}

.container-logo .header-links{
    display: none;
}

.container-nav-grid .btn-registrar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 36px;
    background-color: white;
    border-radius: 30px;
    padding: 5px 5px;
}

.container-nav-grid .btn-registrar a{
    color: black;
    font-size: 15px;
}

@media (min-width: 768px){
    .container-nav-grid{
        grid-template-columns: 4fr 1fr 1fr;
        justify-items: start;
    } 
    
    .container-nav-grid .logo{
        font-size: 36px;
    }

    .container-logo .header-links{
        display: none;
    }
}

@media (min-width: 1024px){
    .container-nav-grid{
        grid-template-columns: 8fr 1fr 1fr;
    }

    .container-nav-grid .container-logo .logo{
        font-size: 44px;
    }

    .container-logo{
        display: flex;
    }

    .container-logo .header-links{
        display: block;
    }

    .container-logo a{
        margin-right: 15px;
    }

    .container-btn-inicio_secion a{
        margin-left: -10px;
    }
}